NODE_ENV=development
PORT=5001

# MongoDB
MONGODB_URI=mongodb+srv://neelamchaithanya6:Chaithu123@cluster0.mongodb.net/?retryWrites=true&w=majoritymongodb+srv://neelamchaithanya6:Chaithu123@cluster0.yhivgju.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRY=7d

# Admin UPI ID (for payment processing)
ADMIN_UPI_ID=your-admin-upi-id@bank

# Commission percentage (e.g., 20 means 20%)
PAYMENT_COMMISSION_PERCENTAGE=20
